{:roll/httpkit {:port 5000}
 
 :roll/handler {:routes [["/" example.core/handler]]}}



;; possible options

(comment
  
  :roll/repl {:port 3311}

  :roll/run ["<some shell command>"]

  ;; watch paths
  :roll/paths ["config.edn"
               {:watch roll.core/init}] ; reload when config changes
 
  :roll/httpkit {:port 5000
                 :handler #ig/ref :roll/handler}
 
  :roll/handler {
                 ;; :routes <.. my.project/routes ..>
                 ;; :handler <.. my.project/handler ..>
                 ;; :sente true or #ig/ref :roll/sente
                 ;; :not-found <page-not-found.handler>
    
                 ;; -- default --
                 ;; {:handler roll.handler/default-handler}
                 }

  :roll/sente {
               ;; :handler <.. my.project/event-msg-handler ..>
               ;; :handshake-data-fn <.. my.project/handshake-fn ..>

               ;; -- default --
               ;; {:handler roll.sente/event-msg-handler}
               }



  :roll/reload {
                ;; :css  ["resources/public/css"]
                ;; :page ["resources/public/js"]
                }

  )
