{:roll/httpkit {:port 5000}
 
 :roll/handler {:routes [["/" example.core/handler]]}}



;; possible options

(comment
  
  :roll/repl {:port 3311}

  :roll/run ["<some shell command>"]

  ;; watch paths
  :roll/paths ["config.edn"
               {:watch roll.core/init}] ;; reload system when this file changes

  ;; start server
  :roll/httpkit {:port 5000}

  ;; - or - (make sure to add nginx-clojure dependency)
  ;;:roll/nginx {:config "conf/nginx.conf"}
 
  ;; - or - (make sure to add aleph dependecy)
  ;;:roll/aleph {:port 5000}
 
  :roll/handler {
                 ;; :routes [["/some/route" my.project/handler]]
                 ;; - or -
                 ;; :handler my.project/handler
                 ;; :not-found my.project/not-found-handler

                 ;; :sente true -or- #ig/ref :roll/sente
    
                 ;; -- default --
                 ;; :handler roll.handler/default-handler
                 }


  :roll/sente {
               ;; :handler my.project/event-msg-handler
               ;; :handshake-data-fn my.project/handshake-fn

               ;; -- default --
               ;; :handler roll.sente/event-msg-handler
               }


  ;; make sure to add reload.js to your page
  ;; :roll/reload {:css ["resources/public/css"]}
  )
