{
 :roll/httpkit {:port 5000}
 
 :roll/handler {:routes [["/" example.core/handler]]}

 :roll/paths [ ;; reload clojure code
              ["src"
               "../src/clj"
               {:watch roll.paths/reload-clj
                :throttle 1000}]

              ;; reload changed keys when this config file changes
              ["config.edn"
               {:watch roll.core/reload
                :throttle 1000}]]
 }



;; possible options

(comment
  
  :roll/repl {:port 3311}

  :roll/run ["<some shell command>"]

  ;; watch paths
  :roll/paths ["config.edn"
               {:watch roll.core/init}] ;; reload system when this file changes

  ;; webserver
  :roll/httpkit {:port 5000
                 :handler #ig/ref :roll/handler ;; -or-  my.project/handler
                 }

  ;; - or - (make sure to add nginx-clojure dependency)
  :roll/nginx {:config "conf/nginx.conf"}
 
  ;; - or - (make sure to add aleph dependecy)
  :roll/aleph {:port 5000}


  ;; Ring
  :roll/handler {
                 ;; :middleware  my.project/middleware -or- [ring-middleware ...]
                 ;;  :not-found  my.project/not-found-handler
                 ;;     :routes  [["/some/route" my.project/handler]]
                 ;;      :sente  true -or- #ig/ref :roll/sente
                 ;; - or -
                 ;;    :handler  my.project/handler
                 
                 
                 ;; -- default --
                 ;; :handler roll.handler/default-handler
                 }

  ;; Websockets
  :roll/sente {
               ;;           :handler  my.project/event-msg-handler
               ;; :handshake-data-fn  my.project/handshake-fn
               ;;              :path  "/chsk"

               ;; Transit read/write handlers
               ;; :packer
               ;;  {:write-handlers [datascript.transit/write-handlers ...]
               ;;   :read-handlers  [datascript.transit/read-handlers ...] }

               ;; -- default --
               ;; :handler  roll.sente/event-msg-handler
               }


  ;; Frontend Reloading
  ;; make sure to include reload.js in your html page
  ;; https://raw.githubusercontent.com/dimovich/reload/master/release/reload.js
  
  :roll/reload {:css ["resources/public/css"]
                :page ["resources/public/jade"]}

  ;;
  ;; You can easily add your own config keys.
  ;;
  )
