{:roll/repl {:port 3311}

 :roll/httpkit {:port 5000}

 
 :roll/paths
 [["config.edn"
   {:watch roll.core/reload
    :throttle 20}]]}





(comment


  ;; Logging
  ;; https://github.com/ptaoussanis/timbre#configuration
  
  :roll/timbre
  {:min-level :debug
   :output-fn taoensso.timbre/default-output-fn
   :appenders {:println {:min-level :info}
               :spit {:fname "timbre.log"}}}
  



  ;; File watching
  ;;
 
  :roll/paths
  [[path1 path2 ,,,
    {
     ;;     :init  my.ns/some-fn     ;; (fn [{:as paths-opts :keys [paths opts]])
     ;;    :watch  my.ns/another-fn  ;; (fn [changed-paths paths-opts])
     ;; :throttle  100               ;; watch-fn thottler in milliseconds
     }]

   ;; add more paths as needed...
   ,,,]


 
  
  
  ;; Environment Variables
  ;;

  {:some-opt  #roll/env  "SOME_VAR"}

  


  ;; Webserver
  ;;
 
  :roll/httpkit
  {
   :port  5000
   :handler  my.project/handler
  
   ;; -- default --
   ;;    :port  5000
   ;; :handler  #ig/ref :roll/handler
   }


 

  
  ;; Ring handler
  ;;
  
  :roll/handler
  {
   ;; :middleware  my.project/middleware -or- [ring-middleware ...]
   ;;  :not-found  my.project/not-found-handler
   ;;     :routes  [["/some/route" my.project/handler]]
   ;;      :sente  #ig/ref :roll/sente
   ;; - or -
   ;;    :handler  my.project/handler

  
   ;; -- default --
   ;;    :handler  roll.handler/default-handler
   ;; :middleware  roll.handler/default-middleware
   }



  ;; Websockets
  ;;
  
  :roll/sente
  {
   ;;           :handler  my.project/event-msg-handler
   ;; :handshake-data-fn  my.project/handshake-fn
   ;;              :path "/chsk"
   ;;
   ;; Transit read/write handlers
   ;; :packer
   ;;  {:write-handlers [datascript.transit/write-handlers ...]
   ;;   :read-handlers  [datascript.transit/read-handlers ...] }
   ;;
  
   ;; -- default --
   ;; :handler roll.sente/event-msg-handler
   }


  
  ;; Task Scheduling
  ;;
  
  :roll/schedule
  [ ;; every 2 minutes
   [2 :m my.project/some-task-fn]
   
   ;; every week
   [1 :w my.project/some-other-task-fn]
   
   ;; multiple fns, and passing arguments
   [1 :h
    my.project/some-fn
    my.project/another-fn
    [my.project/yet-another-fn arg1 arg2 ,,,]]
   

   ;; possible periods
   ;; :ms / :s / :m / :h / :d / :w / :mt / :y

   ;; task fns can also return a core.async channel that can be closed
   ;; or will auto-close on task completion
   ]


  
  ;; Frontend Reloading
  ;; make sure to include reload.js in your html page
  ;; https://raw.githubusercontent.com/dimovich/reload/master/release/reload.js
  
  :roll/reload {:css ["resources/public/css" ,,,]
                :page ["resources/public/jade" ,,,]}


  ;; or, use Figwheel-main

  
  ;;
  ;; You can easily add your own config keys.  Check Integrant docs at
  ;; https://github.com/weavejester/integrant
  ;;
  
  )
