{:paths ["src/clj" "src/cljs" "src/cljc"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.0-alpha4"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}
        org.clojure/core.async    {:mvn/version "0.4.474"}
        org.clojure/tools.nrepl   {:mvn/version "0.2.13"}
        cider/cider-nrepl         {:mvn/version "0.16.0"}
        com.rpl/specter {:mvn/version "1.1.0"}
        compojure    {:mvn/version "1.6.0"}
        integrant    {:mvn/version "0.7.0-alpha1"}
        http-kit     {:mvn/version "2.2.0"}
        cheshire     {:mvn/version "5.8.0"}
        ring/ring-core            {:mvn/version "1.6.3"}
        javax.servlet/servlet-api {:mvn/version "2.5"}
        com.taoensso/timbre   {:mvn/version "4.10.0"}}

 :aliases
 {:repl
  {:main-opts ["-m" "roll.core"]}}}


;;com.datomic/datomic-pro   {:mvn/version "0.9.5661"}
