^{ ;;:css-dirs ["resources/public/css"]
  :watch-dirs ["src/cljs" "src/cljc"]
  :open-url false
  :log-level :error}

{:main roll.core
 :output-to "resources/public/js/main.js"
 :output-dir "resources/public/js/out"}
