{
 ;; reload system when this config changes
 :roll/paths ["conf/config.edn"
              {:watch roll.core/init}]

 ;; web server
 :roll/httpkit {:port 5000}

 ;; - or - (make sure to add nginx-clojure dependency)
 ;;:roll/nginx {:config "conf/nginx.conf"}
 
 ;; - or - (make sure to add aleph dependecy)
 ;;:roll/aleph {}

 
 :roll/handler
 {:sente #ig/ref :roll/sente
  ;; :routes [["/some/route" my.project/handler]]
  ;; - or -
  ;; :handler my.project/handler

  ;; :sente true or #ig/ref
    
  ;; -- default --
  ;; :handler roll.handler/default-handler
  }

 :roll/sente
 { ;; :handler my.project/event-msg-handler
  ;; :handshake-data-fn my.project/handshake-fn

  ;; -- default --
  ;; :handler roll.sente/event-msg-handler
  }

 ;; :roll/run ["<some shell command to run>" ...]

 ;; make sure to add reload.js to your page
 ;; :roll/reload {:css ["resources/public/css"]}
 }
